# General
.DS_Store

# Project Specific
test.py
427prototypes/
prototype_model/
unknown_prototypes/
best_models/

# Python Files
venv/
__pycache__/

# Slurm Related Files
logs/
script.sh
train.sh
testing.sh
cnn.sh
slurm*.out